.annotation_container {
    left:0px;
    top:0px;
    z-index: 1;
    position: absolute;
}

#annotation {
    background-color: blue;
    position: absolute;
}

#content {
    left:29%;
    top:0px;
    width:800px;
    position: absolute;
    transform-origin: top left;
    transform: 0.5;
    -moz-transform: scale(0.5);
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: rgba(50,50,50,1);/*#696969;*/
}


#GUI{
    /*display:none;*/
    position:fixed;
    top: 0px;
    right: 0px;
    z-index: 900;
    pointer-events:none;
    /*border-radius: 0px 0px 0px 10px;*/
    /*padding: 4px 4px 0px 4px;*/
    left:0px;/*width:100%;*/
}

.solid_borders {
    border-style:solid;
    border-width:1px;
    border-color:rgb(210,210,210);
}

#menu_strip {
    width:100%;
    float:left;
    padding: 2px 0px 0px 0px;
    background-image: linear-gradient(to top, rgba(50,50,50,0.4) 0%, rgba(50,50,50,0.8) 50%);
    /*background-color: rgba(50,50,50,0.5);/*#e4e4e4;*/
    pointer-events:auto;
}

#pdf_title {
    color: white;
    margin:15 auto;
    text-align: center;
    width:auto;
}

#program_title{
    color: white;
    margin: 15 auto;
    text-align: left;
    width: 250px;
    float:left;
    padding-left: 15px;
}

#right_button_list {
    float:right;
    width:auto;
}


#left_button_list {
    float:left;
    width:50px;
    pointer-events:auto;
    margin: 0px 5px 0px 0px;
    background-color: rgba(50,50,50,0.4);
}

#info_container {
    float: right;
    width: 300px;
    /*background-color: rgba(50,50,50,0.5);/*#e4e4e4;*/
    pointer-events:auto;
}

.framed_light {
    background-color: #bdbdbd;
}

.framed {
    /*border-radius: 10px 10px 10px 10px;*/
    /*border-style:solid;
    border-width:1px;
    border-color:rgb(210,210,210);
    margin: 0px 2px 0px 2px;
    background-color: rgba(200,200,200,0.8);/*#bdbdbd;*/
}

.right_menu_button {
    width:50px;
    
    /*background-color: rgba(200,200,200,0);*/
    background-image: none;
}

.right_menu_button:hover {
    /*background-color: rgba(100,100,100,0.8);*/
    background-image: linear-gradient(to top, rgba(50,50,50,0) 0%, rgba(100,100,100,0.8) 50%) !important;
}

.left_menu_button {
    width:50px;
    margin: 3px 0px 3px 0px;
    /*background-color: rgba(200,200,200,0);*/
    background-image: none;
}

.left_menu_button:hover {
    /*background-color: rgba(100,100,100,0.8);*/
    background-image: linear-gradient(to left, rgba(50,50,50,0) 0%, rgba(100,100,100,0.8) 50%) !important;
}

.info {
    color: white;
    background-color: rgba(50,50,50,0.4);
    /*margin: 2px 2px 2px 2px;*/
    padding: 5px;
}


body {
    width: calc(100vw - 34px);
    position:relative;
}
relative {
    position:relative;
}

.ui-dialog-titlebar {
  background-color: #F9A7AE;
  font-family: "Courier New", Courier, monospace;
  background-image: none;
    /*color: white !important;*/
  /*color: #000;*/
}
.ui-dialog-content {
    /*background-color: rgba(50,50,50,1) !important ; 
    color: white !important;*/
    font-family: "Courier New", Courier, monospace;
}

.ui-dialog {
    /*background-color: rgba(70,70,70,0.5) !important;*/
    
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
